[submodule "can_tool/lib/zklib_arduino_canbus"]
	path = lib_arduino/zklib_arduino_canbus
	url = git@github.com:an-dr/zklib_arduino_canbus.git
[submodule "can_tool/lib/arduino-printf"]
	path = lib_arduino/arduino-printf
	url = https://github.com/embeddedartistry/arduino-printf.git
[submodule "lib_arduino/arduino-mcp2515"]
	path = lib_arduino/arduino-mcp2515
	url = git@github.com:an-dr/arduino-mcp2515.git
